body{
	background-color: black;
}
h1{
	font-family:sans-serif;
	font-size: 50px;
	color: white;
}

p{
	font-family: serif;
	line-height: 20px;
	font-size: 14px;
	color:yellow;
	border: 25px dotted yellow;
	margin: 0 auto;
	padding: 40px 20px;
}

.pink{
	font-size: 18px;
	color: pink;
}

a{
	color: yellow;
}

h2{
	font-size: 50px;
	font-family: sans-serif;
}
img{
	display: block;
	width: 600px;
	margin: 0 auto;
	border: 2px solid #FF3E96;

}

.fall{
	color: #854442;
}

.winter{
	color: #e7f4fe;
}


.spring{
	color: #be9b7b;
}

.summer{
	color: #ffeead;
}

